<div class="home-highlight">
  <div class="home-highlight-left">
    <div class="home-highlight-left-top">
      <img src="./assets/img/home-logo-highlight.svg" alt="cay kim soi chi">
      <div class="highlight-top-content">
        Lorem ipsum dolor sit am cet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
        dolore magna aliquam erat ...
      </div>
    </div>
    <div class="home-highlight-left-bottom">
      <div class="cover-image-side">
        <img
          src="https://lh3.googleusercontent.com/nfyImVptXr1uqT3k5BZFv43A_yEaJqqSYFXliaF7F5ncq4j0zOcScmAv9sRaY7PPp0-nethQAjKVOS1_jjwvFpPxzJ0cLYFr6mALnN2san3L3Ug8kqFzs0JRrb7ft3IwQahYy1Al=w600-h315-p-k"
          alt="cay kim soi chi"/>
      </div>
      <div class="details-cover">
        <div class="details">
          <div class="home-highlight-left-bottom-title highlight-title">
            since 2019
          </div>
          <div class="home-highlight-left-bottom-description highlight-description">
            Lorem ipsum dolor sit am cet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="home-highlight-right">
    <div class="home-cover-img-highlight-banner">
      <img
        src="https://lh3.googleusercontent.com/nfyImVptXr1uqT3k5BZFv43A_yEaJqqSYFXliaF7F5ncq4j0zOcScmAv9sRaY7PPp0-nethQAjKVOS1_jjwvFpPxzJ0cLYFr6mALnN2san3L3Ug8kqFzs0JRrb7ft3IwQahYy1Al=w600-h315-p-k"
        alt="cay kim soi chi"/>
    </div>

    <div class="details">
      <div class="highlight-title">
        since 2019
      </div>
      <div class="highlight-description">
        Lorem ipsum dolor sit am cet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
      </div>
    </div>
  </div>
</div>

