<div class="cover-about">
  <div class="cover-story">
    <img src="./../assets/img/home-logo-highlight.svg" alt="">
    <div class="title">
      our story
    </div>
    <div class="story-1">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna
      aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.
    </div>
    <div class="story-2">
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
      sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
  </div>

  <div class="cover-our-manifesto">
    <div class="title">
      our manifesto
    </div>
    <div class="cover-sub-header">
      <img src="./assets/img/about_1.svg" alt="cay kim soi chi">
      <img src="./assets/img/about_2.svg" alt="cay kim soi chi">
      <img src="./assets/img/about_3.svg" alt="cay kim soi chi">
    </div>
  </div>

  <div class="cover-meet-the-team">
    <div class="title">
      meet the team
    </div>
    <div class="cover-content-meet-the-team">
      <div class="avatar-cover">
        <img src="./assets/img/avt_founder.png" alt="cay kim soi chi founder">
      </div>
      <div class="content-cover">
        <div class="name-founder">
          le ky nam phuong
        </div>
        <div class="title-name">
          ceo & founder
        </div>
        <div class="title-description">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
        </div>
      </div>
    </div>
  </div>
</div>
