<div class="cover-footer">

  <div class="top-footer-cover">
    <div class="cover-logo-footer">
      <img src="./../assets/img/footer_logo.svg" alt="">
    </div>
  </div>

  <div class="bottom-footer-cover">

    <div class="bottom-left">
      <p> &copy; 2021 Cay Kim Soi Chi | Site build by <a href="">thangluu93</a></p>
    </div>

    <div class="bottom-center">

      <div class="item">
        Contact
      </div>

      <div class="item">
        How to buy
      </div>

      <div class="item">
        Preservation
      </div>

      <div class="item">
        Payment
      </div>

      <div class="item">
        FAQs
      </div>

    </div>

    <div class="bottom-right">
      <img src="./../assets/img/instagram_icon.svg" alt="cay kim soi chi">
      <img src="./../assets/img/facebook_icon.svg" alt="cay kim soi chi">
      <img src="./../assets/img/tiktok_icon.svg" alt="cay kim soi chi">
    </div>

  </div>
</div>
