<div class="home-cover-highlight-component">
  <app-home-highlight></app-home-highlight>
</div>
<div class="home-cover-trending">
  <div class="home-trending-title">
    TRENDING NOW
  </div>
  <ngx-slick-carousel class="carousel home-trending-list"
                      #slickModal="slick-carousel"
                      [config]="slideConfig">
    <div ngxSlickItem *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]" class="slide">
      <app-trending-item></app-trending-item>
    </div>
  </ngx-slick-carousel>
</div>

<div class="home-shop">
  <div class="home-shop-title">
    shop
  </div>
  <div class="home-shop-body">
    <div class="side-menu">

    </div>
    <div class="home-shop-listing">
      <app-shop-listing></app-shop-listing>
      <div class="cover-home-pagination">
        <app-pagination (pageIndex)="goToPage($event)" [pageSubject]="pageSubject"></app-pagination>
      </div>
    </div>
  </div>

</div>
